<!-- <h1>{{book.title | uppercase}}</h1>
<p>
  {{book.author}}
  {{book.price | currency}}
  Publicado: {{book.publisedDate | date: 'dd-MM-yyyy'}}
</p> -->

<div *ngIf="!showForm">
	<h1>Books</h1>
	<ul>
		<li *ngFor="let book of books" (click)="onSelect(book)">
			<span>{{book.title}}</span> por {{book.author}}, Precio: {{book.price | currency}}
		</li>
	</ul>

	<button (click)="addBook()">Agregar libro</button>	
</div>

<div *ngIf="showForm">
	<div>
		<label>
			Título: 
			<input [(ngModel)]="selectedBook.title" placeholder="Título" ng-required ng-pattern="^([A-ZÑ&]{3,4}) ?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$/">
			<span ng-message="pattern">RFC no válido</span>
		</label>
	</div>
	<div>
		<label>
			CURP: 
			<input [(ngModel)]="selectedBook.author" placeholder="Autor" ng-pattern="/^([A-Z][AEIOUX][A-Z]{2}\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])[HM](?:AS|B[CS]|C[CLMSH]|D[FG]|G[TR]|HG|JC|M[CNS]|N[ETL]|OC|PL|Q[TR]|S[PLR]|T[CSL]|VZ|YN|ZS)[B-DF-HJ-NP-TV-Z]{3}[A-Z\d])(\d)$/">
		</label>	
	</div>
	<div>
		<label>
			Precio: 
			<input [(ngModel)]="selectedBook.price" placeholder="Precio de venta">
		</label>
	</div>
	<button (click)="onSaveBook(selectedBook)">Guardar</button>
</div>